.footer {
  background-color: rgba(136, 133, 133, 0.342);
  padding: 2rem;
}
.footer-links > a {
  text-decoration: none ;
  display: flex;
  flex-direction: column;
}
.footer-link {
   color:inherit;
}

.footer-link:hover {
  color:tomato;
}