@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Header container */
.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* Navigation links container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo link */
.nav__logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

/* Navigation toggle button */
.nav__toggle {
  display: none;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

/* Navigation links container when menu is open */
.nav__links--open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 999;
}

/* Navigation links */
.nav__links li {
  margin-right: 1rem;
}

/* Navigation links when menu is open */
.nav__links--open li {
  margin-bottom: 0.5rem;
}

/* Navigation links on hover */
.nav__links a:hover {
  color: #333;
}

/* Navigation dropdown menus */
.nav__dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  z-index: 999;
}

/* Navigation dropdown menu items */
.nav__dropdown-menu li {
  margin-bottom: 0.5rem;
}

/* Navigation dropdown menu items on hover */
.nav__dropdown-menu a:hover {
  color: #333;
}

/* Navigation dropdown toggle */
.nav__dropdown-toggle {
  cursor: pointer;
}

/* Navigation dropdown menu when open */
.nav__dropdown:hover .nav__dropdown-menu {
  display: block;
}

.halfPart{
  color:tomato ;
}

.HeaderLogo{
  font-weight: 900;
  margin-right: 6rem !important;
  font-family: 'Amaranth', sans-serif  !important;

}

/* Media queries */
@media (max-width: 768px) {
  /* Navigation toggle button when menu is open */
  .nav__toggle {
    display: block;
  }

  /* Navigation links container when menu is closed */
  .nav__links {
    display: none;
  }

  /* Navigation dropdown menus when menu is open */
  .nav__dropdown-menu {
    position: static;
    box-shadow: none;
  }

  /* Navigation dropdown menu items when menu is open */
  .nav__dropdown-menu li {
    margin-bottom: 0;
  }
}



