.service{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
}
.service__avatar{
width: 100px !important;
height: 100px !important;
}

.service__content > h3 {
  color: tomato;
  font-size: 1.4rem;
}
.service__content > p{
  color: #333;
}