

.team h2{
    text-align: center;
    color: tomato;
    text-transform: uppercase;
    margin-bottom: 4rem !important;
}
.team__content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}